extends layout

block content
  section.wrapper
    .sectionContainer
      .landingPageContainer
        h2.homepageTitle #{title}
        .blockUploadImage
          h3
            a(href="upload" target="_self") Upload Image
        .blockVerificationImage
          h3
            a(href="validate", target="_self") Validate Image
        .blockViewListUploadedImage
          h3
            a(href="uploadedImages", target="_self") View List Of Uploaded Images
        .blockViewListValidateImage
          h3
            a(href="validatedImages", target="_self") View List Of Validated Images