<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/app-images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <section class="wrapper">
      <div class="sectionContainer">
        <div class="landingPageContainer">
          <h2 class="homepageTitle">{{title}}</h2>
          <div class="blockUploadImage">
            <h3><a href="upload" target="_self">Upload Image</a></h3>
          </div>
          <div class="blockVerificationImage">
            <h3><a href="validate" target="_self">Validate Image</a></h3>
          </div>
          <div class="blockViewListUploadedImage">
            <h3><a href="uploadedImages" target="_self">View List Of Uploaded Images</a></h3>
          </div>
          <div class="blockViewListValidateImage">
            <h3><a href="validatedImages" target="_self">View List Of Validated Images</a></h3>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
